header{
    background-color: #bbbbbb;
    padding:  0 0 20px 20px;
}

.caixa{
    position: relative;
    width: 940px; /*Normalmente reconhecida como uma boa marge*/
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;/*magem interna entre os li , cima , baixo , direita ,esquerda*/
}

nav {
    position: absolute; /*podendo estar em qualquer lugar da pagina*/
    top: 110px; /* colocar no inicio da pagina*/
    right: 0;
}



nav a {
    text-transform: uppercase; /*todos mundo para upper case*/
    color: black;
    font-weight: bold; /*colocar em negrito*/
    font-size: 22px;
    text-decoration: none; /*nenhuma decoração*/
}



.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{ /*quando vc que determinar que a classe possa alterar uma tag encapsulado na tag principal deve declarar */
    display: inline-block; /*se comparta com o tamanho do seu conteúdo , mas regulável*/
    text-align: center;
    width: 30%;
    vertical-align: top; /*Se alinham pela linha de cima*/

    margin: 0 1.5%;
    padding: 30px 20px ;
    box-sizing: border-box; /*deixa bem o width fixo*/
    border-color: black;
    border-width: 2px; /*largura*/
    border-style: solid;
    border:2px solid black; /*versão resumida*/
    border-radius: 10px; /*borda arrendondada*/
}



.produtos h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize; /*primeira letra maiuscula*/
}



.produto-descricao{

    font-size: 18px;
    
}

.produto-preco{

    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
}


