
body {
    background-color: #CCCCCC
    /*-- vermelho -- verde -- azul
    
    F maxino
    255 - maxima 
    */

}

#banner{

    width: 100%;
   
}

h1 {

    text-align: center;
    border: 10px solid #000000;
    height: 150px;
    /*padding: 20px; espaçamento interno
    margin-left: 40px; espaçamento externo*/
}
p{
    text-align: center; 
    
}

#missao { /*todos os ids são identificados pelo jogo da velha  e não usar css no html*/
    font-size: 20px;
}

em strong{ /*colocar um encapsulamento da especificar melhor ainda*/
    color: #FF0000; 
}