
body {

    /*-- vermelho -- verde -- azul
    
    F maxino
    255 - maxima 
    */

}

#banner{

    width: 100%;
   
}

.principal{
    background-color: #CCCCCC;
    padding: 30px;

}

h1 {

    text-align: center;
    /*border: 10px solid #000000;
    height: 150px;
    padding: 20px; espaçamento interno
    margin-left: 40px; espaçamento externo*/
}
p{
    text-align: center; 
    
}

#missao { /*todos os ids são identificados pelo jogo da velha  e não usar css no html , id é para apenas um conjunto de elementos*/
    font-size: 20px;
}

em strong{ /*colocar um encapsulamento da especificar melhor ainda*/
    color: #ff0000; 
}

.itens { /*classe são defenidas para pontos, para um conjunto de dados */
    font-style: italic;
}

.beneficio{
    background-color: white;
    padding: 20px;
}

h2{
    text-align: center ;
}

ul{
    display: inline-block; /*so deixa o tamanho do conteudo e deixa bloqueado*/
    vertical-align: top; /*alinhamento para cima*/
    width: 20%; /*em relação a pagina*/
    margin-right: 15%; /*espaçamento da margem*/


}
.imagembeneficios{
    width: 50%;
}