
body {
    background-color: #CCCCCC
    /*-- vermelho -- verde -- azul
    
    F maxino
    255 - maxima 
    */

}

h1 {

    text-align: center;
}
p{
    text-align: center; 
    
}

#missao { /*todos os ids são identificados pelo jogo da velha  e não usar css no html*/
    font-size: 20px;
}

em strong{ /*colocar um encapsulamento da especificar melhor ainda*/
    color: #FF0000; 
}