
body {
    background-color: #CCCCCC
    /*-- vermelho -- verde -- azul
    
    F maxino
    255 - maxima 
    */

}

p{
    text-align: center; 
    
}

em strong{ /*colocar um encapsulamento da especificar melhor ainda*/
    color: #FF0000; 
}