body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

header{
    background-color: #bbbbbb;
    padding:  0 0 20px 20px;
}

.caixa{
    position: relative;
    width: 940px; /*Normalmente reconhecida como uma boa marge*/
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;/*magem interna entre os li , cima , baixo , direita ,esquerda*/
}

nav {
    position: absolute; /*podendo estar em qualquer lugar da pagina*/
    top: 110px; /* colocar no inicio da pagina*/
    right: 0;
}



nav a {
    text-transform: uppercase; /*todos mundo para upper case*/
    color: black;
    font-weight: bold; /*colocar em negrito*/
    font-size: 22px;
    text-decoration: none; /*nenhuma decoração*/
}

nav a:hover{ /*Quando o mouse está em cima do elemento*/
    color: #C78c19;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{ /*quando vc que determinar que a classe possa alterar uma tag encapsulado na tag principal deve declarar */
    display: inline-block; /*se comparta com o tamanho do seu conteúdo , mas regulável*/
    text-align: center;
    width: 30%;
    vertical-align: top; /*Se alinham pela linha de cima*/

    margin: 0 1.5%;
    padding: 30px 20px ;
    box-sizing: border-box; /*deixa bem o width fixo*/
    border-color: black;
    border-width: 2px; /*largura*/
    border-style: solid;
    border:2px solid black; /*versão resumida*/
    border-radius: 10px; /*borda arrendondada*/
}



.produtos li:hover {
    border-color: #C78c19;
}

.produtos li:active{ /*active sempre em baixo do hover*/ 
    border-color: #088C19;
}

.produtos li:hover h2{ /*para tesxto aumentar dele colocar a tag do segundo elementos depois do houver*/
    font-size: 34px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize; /*primeira letra maiuscula*/
}



.produto-descricao{

    font-size: 18px;
    
}

.produto-preco{

    font-size: 22px;
    font-weight:bold;
    margin-top: 10px;
}



footer{
    text-align: center;
    background: url("bg.jpg"); /*adição de foto */
    padding: 40px 0px;
}


.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}




form{
    margin: 40px 0;
}

form label,legend{ /*oloca virgula para adicionar mais de um elemento*/
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao { /*alterar os inputs do form */
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px ;/*espaçamento interno*/
    width: 50%;
}

.checkbox{
    margin: 20px 20px;

}

form p{
    color: azul;
}

.enviar{
    width: 40%;
    padding: 15px 15px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all; /*para realizar a transição de cor pr 1 segundo*/
    cursor: pointer; /*mudar o cursor quando está em cima do elemento*/
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2);/*aumenta em 20% 1 * % no que deseja*/
    /*transform: rotate(70deg) Faz que o elemto se rotaciona*/
}

table{
    margin: 20px 0px 40px;
    margin-left : 10%
}
thead{
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td , th{
    border: 1px solid black;
    padding: 8px 15px ;
}

.banner{
    width: 100%;
}

.titulo-principal{
    text-align: center;
    font-size: 2em; /*em significado padrão e o n° em sua frente significa o multiplicador, deve colocar o n° na frente*/
    margin: 0 0 1em;
    clear: left; /*limpa o float,para criar uma barreira*/
}

.principal{
    padding: 3em 0 ;
    background-color: #fefefe;
    width: 940px;
    margin: 0 auto;
}
.principal p {
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.imagembeneficios{
    width: 60%;
    
}

.utensilios{
    width: 120px;
    float: left; /*Faz com que a imagem "flutua" em cima da pagina ,e é preenchida as laterais opostas */
    margin: 0 20px 0 20px;
}

.beneficios{
    padding: 3em 0;
    background-color: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;

}

.lista-beneficios{
    width: 40%;
    display: inline-block; /*Quando usamos uma imagem e queremos que fique do lado deve colocar as html um do lado da outra*/
    vertical-align: top; /*alinhação por cima */
}

.itens {
    line-height: 1.5; /*tamanho da linha igual ao do Word*/
}

.itens:before { /*Usado para colocar itens antes do html usando css*/
    content: "★";
}


.itens:first-child{ /*pseudo classe para primeiro*/ 
    font-weight: bold;
}

.mapa-conteudo{
    width: 940px;
    margin: 0 auto;

}

.mapa{
    padding: 3em 0;
    
    background : linear-gradient( #fefefe,#888888) /*cria uma cor para o gradiente*/
}

.mapa p {
    margin:  0 0 2em;
    text-align: center;
}


.video{
    width: 560px;
    margin: 2em auto;
}
/*
main > p { > é usado para selecionar os filhos diretos do menor  
    background-color: red;
}

img + p { + é usado para selecionar o primeiro  irmão
    background-color: #088C19;
}

img ~ p { ~ usado para selecionar todos os irmões
    background-color: #C78c19;
}

.principal p:not(#missao){ usado para  exluir algo
   background-color: orange; 
}
*/